.skin-theme .main-header .navbar{background-color:#f7e01f}.skin-theme .main-header .navbar .nav>li>a{color:#fff}.skin-theme .main-header .navbar .nav>li>a:hover,.skin-theme .main-header .navbar .nav>li>a:active,.skin-theme .main-header .navbar .nav>li>a:focus,.skin-theme .main-header .navbar .nav .open>a,.skin-theme .main-header .navbar .nav .open>a:hover,.skin-theme .main-header .navbar .nav .open>a:focus,.skin-theme .main-header .navbar .nav>.active>a{background:rgba(0,0,0,0.1);color:#f6f6f6}.skin-theme .main-header .navbar .sidebar-toggle{color:#fff}.skin-theme .main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background:rgba(0,0,0,0.1)}.skin-theme .main-header .navbar .sidebar-toggle{color:#fff}.skin-theme .main-header .navbar .sidebar-toggle:hover{background-color:#E0C34C}@media (max-width:767px){.skin-theme .main-header .navbar .dropdown-menu li.divider{background-color:rgba(255,255,255,0.1)}.skin-theme .main-header .navbar .dropdown-menu li a{color:#fff}.skin-theme .main-header .navbar .dropdown-menu li a:hover{background:#E0C34C}}.skin-theme .main-header .logo{background-color:#E0C34C;color:#fff;border-bottom:0 solid transparent}.skin-theme .main-header .logo:hover{background-color:#db8b0b}.skin-theme .main-header li.user-header{background-color:#f7e01f}.skin-theme .content-header{background:transparent}.skin-theme .wrapper,.skin-theme .main-sidebar,.skin-theme .left-side{background-color:#222d32}.skin-theme .user-panel>.info,.skin-theme .user-panel>.info>a{color:#fff}.skin-theme .sidebar-menu>li.header{color:#fff;background:#1a2226}.skin-theme .sidebar-menu>li>a{border-left:3px solid transparent}.skin-theme .sidebar-menu>li:hover>a,.skin-theme .sidebar-menu>li.active>a,.skin-theme .sidebar-menu>li.menu-open>a{color:#fff;background:#1e282c}.skin-theme .sidebar-menu>li.active>a{border-left-color:#f7e01f}.skin-theme .sidebar-menu>li>.treeview-menu{margin:0 1px;background:#2c3b41}.skin-theme .sidebar a{color:#b8c7ce}.skin-theme .sidebar a:hover{text-decoration:none}.skin-theme .sidebar-menu .treeview-menu>li>a{color:#8aa4af}.skin-theme .sidebar-menu .treeview-menu>li.active>a,.skin-theme .sidebar-menu .treeview-menu>li>a:hover{color:#fff}.skin-theme .sidebar-form{border-radius:3px;border:1px solid #374850;margin:10px 10px}.skin-theme .sidebar-form input[type="text"],.skin-theme .sidebar-form .btn{box-shadow:none;background-color:#374850;border:1px solid transparent;height:35px}.skin-theme .sidebar-form input[type="text"]{color:#666;border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px}.skin-theme .sidebar-form input[type="text"]:focus,.skin-theme .sidebar-form input[type="text"]:focus+.input-group-btn .btn{background-color:#fff;color:#666}.skin-theme .sidebar-form input[type="text"]:focus+.input-group-btn .btn{border-left-color:#fff}.skin-theme .sidebar-form .btn{color:#999;border-top-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:0}.sidebar-menu>li.active>a>.fa, .sidebar-menu>li.active>a>.glyphicon, .sidebar-menu>li.active>a>.ion{color: #f7e01f}.treeview-menu>li.active>a>.fa, .treeview-menu>li.active>a>.glyphicon, .treeview-menu>li.active>a>.ion{color: #f7e01f}.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #E0C34C;border-color: #E0C34C}.treeview>a{cursor: pointer}.nav-tabs-custom>.nav-tabs>li.active{border-top-color: #E0C34C}

.btn-primary {
    background-color: #f7e01f;
    border-color: #f7e01f;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #E0C34C!important;
    border-color: #f7e01f !important;
    outline: none !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #E0C34C!important;
    border-color: #f7e01f !important;
    outline: none !important;
}

.login-page, .register-page {
    background: #E0C34C;
}

a {
    color: #E0C34C;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #f7e01f;
}

.main-header .sidebar-toggle:before {
    font-family: "Font Awesome 5 Regular";
    content: "";
}   
.content-wrapper {
    background-color: #fafafa;
}


.select2 {
    min-width: 200px;
}

.sidebar-menu svg {
    margin-right: 5px;
}

.table__actions .btn {
    margin: 5px;
}

.deleteBtnForm {
    display: inline;
}

.sidebar-menu li>a>.fa-angle-left, .sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: 7px !important;
}